body {
  background-color: #1e1e1e;
  font-family: monospace;
}

/* lorem ipsum text style */
#lorem-ipsum {
  font-size: 1.2rem;
  width: 50vw;
  margin: auto;
  text-align: justify;
  padding: 30px;
  border-radius: 20px;
}

h2 {
  text-align: center;
  font-size: 2.8rem;
  font-family: monospace;
}

p {
  font-family: monospace;
  font-size: 1rem;
}

h3 {
  font-family: monospace;
}

/* start button style */
#starting-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 10px;
  border: none;
  border-radius: 10px;
  font-family: monospace;
  font-size: 1.2rem;
}

/* title of the lorem ipsum dialog box */
#title {
  font-family: monospace;
}

/* class added to the letters of the mystery word when the hint button is pressed */
.hint {
  color: #ff0000;
  font-size: 1.5rem;
}

#answer {
  text-align: center;
  padding-bottom: 10%;
}

#submit-answer {
  margin: 10%;
}

#user-answer {
  font-family: monospace;
  border-radius: 5px;
}

/* buttons clicked to access the p5 clues */
.button-for-clues {
  margin: 3px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: none;
  background-color: #e6e6e6;
}

button:hover {
  background-color: #bfbfbf;
}

/* the last 3 lines that appear once the cipher is solved */
/* first line: */
#end-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -110%);

  color: #ffffff;
  text-align: center;
  font-size: 1.3rem;
}

/* second line: */
#book-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);

  color: #ffffff;
  text-align: center;
  font-size: 1.5rem;
}

/* third line: */
#find-it {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 220%);

  color: #ffffff;
  text-align: center;
  font-size: 1.1rem;
}
