#lorem-ipsum {
  font-family: monospace;
  font-size: 1.2rem;
  width: 50vw;
  margin: auto;
  text-align: justify;
  padding: 30px;
  border-radius: 20px;
}

h2 {
  text-align: center;
  font-size: 2.8rem;
}

.word {
  color: #ff0000;
  font-weight: bold;
}

#entry-box {
  text-align: center;
  padding-bottom: 10%;
}

#submit-answer {
  margin: 10%;
}
