/*********************************************

Here is a description of any special CSS used.
By default that's nothing.

**********************************************/

#secret-document {
  font-family: monospace;
  font-size: 1.2rem;
  width: 50vw;
  margin: auto;
  text-align: justify;
}

h2 {
  text-align: center;
  font-size: 2.8rem;
}

.redacted {
  background-color: #000000;
  user-select: none;
}

.revealed {
  color: #ff0000;
  font-weight: bold;
}

#buttons-div {
  position: absolute;
  top: 35px;
  left: 20%;
}
